.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.base {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
}

.map {
  position: absolute;
  width: 70%;
  top: 20%;
  left: 30%;
}