.cameraToggle {
    width: 6%;
    height: 6%;
}

.c1A {
    top: 46%;
    left: 73.5%;
}

.c1B {
    top: 53.5%;
    left: 73%;
}

.c1C {
    top: 61.75%;
    left: 69%;
}

.c2A {
    top: 74.8%;
    left: 74.3%;
}

.c2B {
    top: 80.6%;
    left: 74.3%;
}

.c3 {
    top: 73%;
    left: 66.5%;
}

.c4A {
    top: 74.2%;
    left: 84%;
}

.c4B {
    top: 80.2%;
    left: 84%;
}

.c5 {
    top: 57.5%;
    left: 62.75%;
}

.c6 {
    top: 73%;
    left: 91.5%;
}

.c7 {
    top: 54.5%;
    left: 93.25%;
}