.uiElement {
  position: absolute;
  z-index: 100;            /* Always on top of backgrounds */
  transform: translate(-50%, -50%);
}

.cameraToggle {
  bottom: 5%;              /* Adjust to your taste */
  right: 7%;
  width: 10%;              /* Scales with .aspect */
}
